.gNO89b{
    background-color: palegreen !important;
}
.RNmpXc{
    background-color: LightSkyBlue !important;
}
.gb_p, .MV3Tnb,.gb_j{
    color: red !important;
    font-weight:bold !important;
}

video#bgvideo {
    width: 100%;
    height: 100%;
    object-fit: fill;
}