<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>vue learning</title>
    <link rel="shortcut icon" href="https://cdn.iconscout.com/icon/free/png-256/vue-282497.png" type="image/x-icon" />
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.js"></script>
    <style>
        .basic {
            width: 100px;
            height: 100px;
            border: 1px solid black;
        }

        .happy {
            background-color: yellowgreen;
        }

        .sad {
            background-color: grey;
            border-color: green;
        }

        .normal {
            border-radius: 10px;
            font-weight: 200;
            font-size: 17px;
        }

        .uow1 {
            background-color: aquamarine;
        }

        .uow2 {
            font-size: 30px;
        }

        .uow3 {
            border-radius: 50%;
            border-style: dotted;
        }
    </style>
</head>

<body>
    <div id="element8">
        <div class="basic" :class="mood" @click="changmood">{{name}}</div>
        <div class="basic" :class="arr">{{name}}</div>
        <!-- 对象写法 -->
        <div class="basic" :class="classObj">{{name}}</div>
        <div class="basic" :style="{fontSize: fsize+'px'}">{{name}}</div>
        <div class="basic" :style="[styleObj,styleObj2]">{{name}}</div>
    </div>
    <hr> 
    <div id="element9">
        <!-- <h2 v-show="false">welcome to {{name}}</h2>
        <h2 v-show="1 === 2">welcome to {{name}}</h2>
        <h2 v-if="1 === 1">welcome to {{name}}</h2> -->

        <h2>当前的n值: {{n}}</h2>
        <button @click="n++">点我n+1</button>
        <!-- v-if v-else-if v-else 中间不能打断 -->
        <div v-if="n === 1">Angular</div>
        <div v-else-if="n === 2">react</div>
        <div v-else-if="n === 3">Vue</div>
        <div v-else>java</div>


        <!-- templat 不影响dom元素, 并且不能用v-show -->
        <template v-if="n === 1">
            <h2>hello</h2>
            <h2>UOW</h2>
            <h2>Wollongong</h2>
        </template>
        <hr>
        <h2>人员列表</h2>
        <ul>
            <li v-for="(person,index) of persons" :key="person.id">{{person.name}}-{{person.age}}-{{index}}</li>
        </ul>
        <h2>car info</h2>
        <ul>
            <li v-for="(val,key) in car" :key="key">{{val}}-{{key}}</li>
        </ul>
        <h2>iterate chararaters</h2>
        <ul>
            <li v-for="(char,index) in str" :key="index">{{char}}-{{index}}</li>
        </ul>
        <h2>遍历指定次数</h2>
        <ul>
            <li v-for="(a,b) in 5" :key="b">{{a}}-{{b}}</li>
        </ul>
        <!-- key 的原理 -->
        <h2>key的作用</h2>
        <button @click="add"> add person</button>
        <!-- key 给vue 模板用, dom 不会显示 -->
        <ul>
            <!-- <li v-for="(person,index) in persons" :key="index">{{person}}-{{index}} <input type="text"> </li> -->
            <!-- 如果不写key vue会自动使用index来标识 -->
            <li v-for="(person,index) in persons" :key="index">{{person}}-{{index}} <input type="text"
                    :value="person.name"> </li>
        </ul>
        <hr>
        <button @click="isUseComputed">采用计算属性来实现</button>
        <div v-if="flag">
            <h2>采用计算属性的人员列表</h2>
            <input type="text" placeholder="请输入明星" v-model="keywords">
            <button @click="sortType=2">年龄升序</button>
            <button @click="sortType=1">年龄降序</button>
            <button @click="sortType=0">原顺序</button>
            <ul>
                <li v-for="(star, index) in filStars2" :key="star.id">{{star.name}}-{{star.sex}}-{{star.age}}</li>
            </ul>
        </div>
        <div v-else>
            <h2>采用监听器的人员列表</h2>
            <input type="text" placeholder="请输入明星" v-model="keywords">

            <ul>
                <li v-for="(star, index) in filStars" :key="star.id">{{star.name}}-{{star.sex}}-{{star.age}}</li>
            </ul>
        </div>
    </div>
    <hr>
    <div id="element10">
        <h2>Person List</h2>
        <button @click="updataMei">更新马冬梅的信息</button>
        <ul>
            <li v-for="(item, index) in persons" :key="item.id">{{item.name}}-{{item.sex}}-{{item.age}}</li>
        </ul>
    </div>

    <script>
        // forbidden production tips in console
        Vue.config.productionTip = false;

        new Vue({
            el: "#element8",
            data: {
                name: "UOW",
                mood: "",
                arr: ["uow1", "uow2", "uow3"],
                classObj: {
                    uow1: true,
                    uow2: false,
                    uow3: true
                },
                fsize: 100,
                styleObj: {
                    fontSize: '50px',
                    color: 'red'
                },
                styleObj2: {
                    backgroundColor: "skyblue",
                },

            },
            methods: {
                changmood() {
                    const arr = ['happy', 'sad', 'normal'];
                    this.mood = arr[Math.floor(Math.random() * 3)]
                },

            },
        });

        new Vue({
            el: "#element9",
            data: {
                name: "UOW",
                n: 0,
                persons: [
                    { id: "001", name: "zhangsan", age: 12 },
                    { id: "002", name: "lisi", age: 18 },
                    { id: "003", name: "wangwu", age: 30 },
                ],
                car: {
                    name: "保时捷",
                    price: "$700000",
                    color: "black",
                },
                str: "hello",
                stars: [
                    { id: "001", name: "马冬梅", age: 30, sex: "女" },
                    { id: "002", name: "周冬雨", age: 31, sex: "女" },
                    { id: "003", name: "周杰伦", age: 18, sex: "男" },
                    { id: "004", name: "温兆伦", age: 19, sex: "男" },
                ],
                keywords: "",
                filStars: [],
                flag: false, // 采用监听和计算属性来实现, 默认采用监听
                sortType: 0, // 0 代表原顺序 1降序 2升序
            },
            methods: {
                add() {
                    const liu = { id: "004", name: "老刘", age: 40 };
                    this.persons.unshift(liu);
                },
                isUseComputed() {
                    if (!this.flag) {
                        this.flag = true;
                    } else {
                        this.flag = false;
                    }
                    return this.flag
                }

            },
            computed: {
                filStars2() {
                    const arr = this.stars.filter((star) => {
                        return star.name.indexOf(this.keywords) !== -1;
                    });
                    // 排序
                    if (this.sortType) {
                        arr.sort((a1, a2) => {
                            return this.sortType === 1 ? a2.age - a1.age : a1.age - a2.age;
                        });
                    }
                    return arr;

                },

            },
            watch: {
                keywords: {
                    immediate: true,
                    handler(val) {
                        this.filStars = this.stars.filter((star) => {
                            return star.name.indexOf(val) !== -1;
                        })
                    }
                }
            }
        })
        
        const vm = new Vue({
            el:"#element10",
            data:{
                persons:[
                    { id: "001", name: "马冬梅", age: 30, sex: "女" },
                    { id: "002", name: "周冬雨", age: 31, sex: "女" },
                    { id: "003", name: "周杰伦", age: 18, sex: "男" },
                    { id: "004", name: "温兆伦", age: 19, sex: "男" },
                ],
            },
            methods:{
                updataMei(){
                    // this.persons[0].name="马老师";
                    // this.persons[0].age=50;
                    // this.persons[0].sex="male";

                    this.persons[0]={ id: "001", name: "马老师", age: 50, sex: "男" }
  
                }
            },

        })

    </script>
</body>

</html>