
@font-face {
    font-family: 'Myfont';
    src: url(./font2.ttf) format('ttf');
    font-weight: 600;
    font-style: normal;
}

.hello{
    color:red;
    font-family: 'Myfont';
    background: url('./icon.png');
}
